doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src='/javascripts/vendor/zepto.js')
		script(src='/javascripts/src/events.js')
